{% extends 'app/base.html' %}
{% load static %}
{% block title %}Address{% endblock title %}
{% block main-content %}
<div class="container shadow">
    <div class="row text-center mt-5">
        <h1 style="font-family: Harmonia Sans, sans-serif;">Privacy Policy</h1>
    </div>
    <div class="row mt-3 px-4">
        <div class="col-sm-6 offset-sm-3">
            <p style="font-family: Harmonia Sans;">This Privacy Policy describes how Trendopia (the “Site” or “we”) collects, uses, and discloses your Personal Information when you visit or make a purchase from the Site.</p>
        </div>  
        <div class="col-sm-6 offset-sm-3">
            <h1 style="font-family: Harmonia Sans, sans-serif;">Contact</h1>
            <p style="font-family: Harmonia Sans;">After reviewing this policy, if you have additional questions, want more information about our privacy practices, or would like to make a complaint, please contact us by e-mail at trendopiasupport@gmail.com</p>
        </div>  
        
        <div class="col-sm-6 offset-sm-3">
            <h1 style="font-family: Harmonia Sans, sans-serif;">Collecting Personal Information</h1>
            <p style="font-family: Harmonia Sans;">When you visit the Site, we collect certain information about your device, your interaction with the Site, and information necessary to process your purchases. We may also collect additional information if you contact us for customer support. In this Privacy Policy, we refer to any information about an identifiable individual (including the information below) as “Personal Information”. See the list below for more information about what Personal Information we collect and why.</p>
            <ul>
            
                <li><u>Device information</u></li>
                <ul>
                <li>
                <strong>Purpose of collection:</strong> to load the Site accurately for you, and to perform analytics on Site usage to optimize our Site.</li>
                <li>
                <strong>Source of collection:</strong> Collected automatically when you access our Site using cookies, log files, web beacons, tags, or pixels.</li>
                <li>
                <strong>Disclosure for a business purpose:</strong> shared with our processor Shopify.</li>
                <li>
                <strong>Personal Information collected:</strong> version of web browser, IP address, time zone, cookie information, what sites or products you view, search terms, and how you interact with the Site.</li>
                </ul>
                <li><u>Order information</u></li>
                <ul>
                <li>
                <strong>Purpose of collection:</strong> to provide products or services to you to fulfill our contract, to process your payment information, arrange for shipping, and provide you with invoices and/or order confirmations, communicate with you, screen our orders for potential risk or fraud, and when in line with the preferences you have shared with us, provide you with information or advertising relating to our products or services.</li>
                <li>
                <strong>Source of collection:</strong> collected from you.</li>
                <li>
                <strong>Disclosure for a business purpose:</strong> shared with our processor Shopify.</li>
                <li>
                <strong>Personal Information collected:</strong> name, billing address, shipping address, payment information (including credit card numbers,&nbsp;email address, and phone number.</li>
                </ul>
                <li><u>Customer support information</u></li>
                <ul>
                <li><strong>Purpose of collection:</strong></li>
                <li><strong>Source of collection:</strong></li>
                <li><strong>Disclosure for a business purpose:</strong></li>
                <li><strong>Personal Information collected:</strong></li>
                <li>
                <strong>Purpose of collection:</strong> to provide customer support.</li>
                <li>
                <strong>Source of collection:</strong> collected from you</li>
                <li>
                <strong>Disclosure for a business purpose:</strong>&nbsp;</li>
                <li>
                <strong>Personal Information collected:</strong>&nbsp;</li>
                </ul>
                </ul>
        </div>  

        <div class="col-sm-6 offset-sm-3">
            <h1 style="font-family: Harmonia Sans, sans-serif;">Complaints</h1>
            <p style="font-family: Harmonia Sans;">AAs noted above, if you would like to make a complaint, please contact us by e-mail or by mail using the details provided under “Contact” above.

                If you are not satisfied with our response to your complaint, you have the right to lodge your complaint with the relevant data protection authority. You can contact your local data protection authority, or our supervisory authority here: [Add contact information or website for the data protection authority in your jurisdiction. For example: https://ico.org.uk/make-a-complaint/]</p>
        </div>  

         
    </div>
</div>

{% endblock main-content %}