.owl-carousel .item{
 /* border: 1px solid black; */
 font-size: 24px;
 text-align: center;
 margin-top: 20px;;
}

.owl-next{
 float:right;
}
.owl-prev{
 float:left;
}
.owl-prev span{
 font-size: 24px;
 font-weight: bold;
}
.owl-next span{
 font-size: 24px;
 font-weight: bold;
}




footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
  }
  
  footer h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  footer p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  footer ul li {
    margin-bottom: 10px;
  }
  
  footer ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  footer ul li a:hover {
    text-decoration: underline;
  }
  
  footer form {
    margin-top: 20px;
  }
  
  footer form .form-group {
    margin-bottom: 10px;
  }
  
  footer form input[type="email"] {
    width: 100%;
    border-radius: 0;
  }
  
  footer form button[type="submit"] {
    border-radius: 0;
  }

  
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}

